.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
}

.heading{
  text-align: center;
  margin-top: 40%;
}

.intro{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
}

.myImage {
  max-width: 100%; /* Ensures the image doesn't exceed the container width */
  max-height: 100%; /* Ensures the image doesn't exceed the container height */
  margin: 5% 10%; /* Margin on both left and right sides */
}