.heading{
  text-align: center;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.column div {
  margin-right: 60px; /* Adjust the margin as needed */
}

.desc {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

}